In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
from matplotlib import pyplot as plt
import datetime as dt
from keras.models import Sequential
from keras.layers import Dense
import datetime as dt
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

Using TensorFlow backend.

['train.csv', 'test.csv']

In [2]:
train=pd.read_csv("../input/train.csv")
test=pd.read_csv("../input/test.csv")

In [3]:
train.head()

   ID           ...           electricity_consumption
0   0           ...                             216.0
1   1           ...                             210.0
2   2           ...                             225.0
3   3           ...                             216.0
4   4           ...                             222.0

[5 rows x 8 columns]

In [4]:
test.head()

    ID             datetime  temperature  var1  pressure  windspeed var2
0  552  2013-07-24 00:00:00        -10.0 -16.4    1011.0    263.280    A
1  553  2013-07-24 01:00:00        -10.0 -20.7    1011.0    267.175    A
2  554  2013-07-24 02:00:00        -10.7 -17.1    1003.0    269.555    A
3  555  2013-07-24 03:00:00        -13.6 -20.7    1008.0    273.060    A
4  556  2013-07-24 04:00:00        -10.7 -17.1    1006.0      1.765    A

In [5]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

from sklearn.preprocessing import scale
train['var2']=le.fit_transform(train['var2'])
test['var2']=le.fit_transform(test['var2'])

In [6]:
train['datetime']=pd.to_datetime(train['datetime']) 
test['datetime']=pd.to_datetime(test['datetime']) 
#train['date']= [d.split() for d in train['datetime']]

In [7]:
def conv(data):
    data['month']=data['datetime'].dt.month
    data['year']=data['datetime'].dt.year
    data['day']=data['datetime'].dt.day
    data['hour']=data['datetime'].dt.hour
    data['sec']=data['datetime'].dt.second
    data['min']=data['datetime'].dt.minute
    
    return data

In [8]:
train=conv(train)
test=conv(test)

In [9]:
train.head()

   ID            datetime  temperature  var1 ...   day  hour  sec  min
0   0 2013-07-01 00:00:00        -11.4 -17.1 ...     1     0    0    0
1   1 2013-07-01 01:00:00        -12.1 -19.3 ...     1     1    0    0
2   2 2013-07-01 02:00:00        -12.9 -20.0 ...     1     2    0    0
3   3 2013-07-01 03:00:00        -11.4 -17.1 ...     1     3    0    0
4   4 2013-07-01 04:00:00        -11.4 -19.3 ...     1     4    0    0

[5 rows x 14 columns]

In [10]:
test.head()

    ID            datetime  temperature  var1 ...   day  hour  sec  min
0  552 2013-07-24 00:00:00        -10.0 -16.4 ...    24     0    0    0
1  553 2013-07-24 01:00:00        -10.0 -20.7 ...    24     1    0    0
2  554 2013-07-24 02:00:00        -10.7 -17.1 ...    24     2    0    0
3  555 2013-07-24 03:00:00        -13.6 -20.7 ...    24     3    0    0
4  556 2013-07-24 04:00:00        -10.7 -17.1 ...    24     4    0    0

[5 rows x 13 columns]

In [11]:
train=train.groupby(['year','month'])[['electricity_consumption']].sum().reset_index()

In [12]:
train['Year month']=train['month'].astype(str)+" "+train["year"].astype(str)

In [13]:
train.tail(7)

    year  month  electricity_consumption Year month
41  2016     12                 143112.0    12 2016
42  2017      1                 152682.0     1 2017
43  2017      2                 135993.0     2 2017
44  2017      3                 148905.0     3 2017
45  2017      4                 194664.0     4 2017
46  2017      5                 163344.0     5 2017
47  2017      6                 148302.0     6 2017

In [14]:
X=train.iloc[:, [2,3,4,5,6,8,9,10,11]].values
y=train.iloc[:, 7].values

IndexError: positional indexers are out-of-bounds

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

NameError: name 'X' is not defined

In [16]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(X_train, y_train)

#predict the test set results
y_pred = mlr.predict(X_test)
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(y_test, y_pred))

from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

adj_r2 = 1 - float(len(y)-1)/(len(y)-len(mlr.coef_)-1)*(1 - r2)

rmse, r2, adj_r2

NameError: name 'X_train' is not defined

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

NameError: name 'X_train' is not defined

In [18]:

from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=10, weights='distance')
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

from sklearn.metrics import mean_squared_error
from math import sqrt
sqrt(mean_squared_error(y_test, y_pred))
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

adj_r2 = 1 - float(len(y)-1)/(len(y)-len(mlr.coef_)-1)*(1 - r2)

r2, adj_r2

NameError: name 'X_train' is not defined

In [19]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)  
regressor.fit(X_train, y_train)  
y_pred = regressor.predict(X_test) 
from sklearn.metrics import mean_squared_error
from math import sqrt
sqrt(mean_squared_error(y_test, y_pred))
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

adj_r2 = 1 - float(len(y)-1)/(len(y)-len(mlr.coef_)-1)*(1 - r2)

r2, adj_r2

NameError: name 'X_train' is not defined

In [20]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test) 
from sklearn.metrics import mean_squared_error
from math import sqrt
sqrt(mean_squared_error(y_test, y_pred))
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

adj_r2 = 1 - float(len(y)-1)/(len(y)-len(mlr.coef_)-1)*(1 - r2)

r2, adj_r2

NameError: name 'X_train' is not defined

from sklearn import ensemble
params = {'n_estimators': 500, 'max_depth': 4, 'min_samples_split': 2,
          'learning_rate': 0.01, 'loss': 'ls'}

regressor = ensemble.GradientBoostingRegressor(**params)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test) 
from sklearn.metrics import mean_squared_error
from math import sqrt
sqrt(mean_squared_error(y_test, y_pred))
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

adj_r2 = 1 - float(len(y)-1)/(len(y)-len(mlr.coef_)-1)*(1 - r2)

r2, adj_r2