In [42]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [43]:
ndata=pd.read_csv("C:/Users/User/Downloads/student.csv")

In [44]:
ndata.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [45]:
ndata['Average']=(ndata['math score']+ndata['reading score']+ndata['writing score'])/3.0

In [48]:
ndata.loc[ndata['Average']>=90,'Grade']=10
ndata.loc[ndata['Average']<90,'Grade']=9
ndata.loc[ndata['Average']<80,'Grade']=8
ndata.loc[ndata['Average']<70,'Grade']=7
ndata.loc[ndata['Average']<60,'Grade']=6
ndata.loc[ndata['Average']<50,'Grade']=5
ndata.loc[ndata['Average']<40,'Grade']=4
ndata.loc[ndata['Average']<30,'Grade']=3
ndata.loc[ndata['Average']<20,'Grade']=2
ndata.loc[ndata['Average']<10,'Grade']=1

In [49]:
ndata.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Average,Grade
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667,8.0
1,female,group C,some college,standard,completed,69,90,88,82.333333,9.0
2,female,group B,master's degree,standard,none,90,95,93,92.666667,10.0
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333,5.0
4,male,group C,some college,standard,none,76,78,75,76.333333,8.0

In [52]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

from sklearn.preprocessing import scale
colu=['gender','race/ethnicity','parental level of education','lunch','test preparation course','Grade']

for col in colu:
    ndata[col] = le.fit_transform(ndata[col])

In [66]:
ndata.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Average,Grade
0,0,1,1,1,1,72,72,74,72.666667,7
1,0,2,4,1,0,69,90,88,82.333333,8
2,0,1,3,1,1,90,95,93,92.666667,9
3,1,0,0,0,1,47,57,44,49.333333,4
4,1,2,4,1,1,76,78,75,76.333333,7

In [82]:
X = ndata.iloc[:, [0,1,2,3,4]].values
y = ndata.iloc[:, 9].values
from sklearn.metrics import explained_variance_score
from sklearn.feature_selection import RFE
from sklearn.ensemble import ExtraTreesRegressor

from sklearn.model_selection import train_test_split
#split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [83]:
from sklearn.svm import SVC

clf = SVC(random_state = 100, kernel='rbf')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy
from sklearn.metrics import f1_score
f1_score(y_test,y_pred,average='weighted')

0.22264476699770822

In [84]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=4,oob_score=True ,random_state =42, min_samples_split=25)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy
from sklearn.metrics import f1_score
f1_score(y_test,y_pred,average='weighted')

0.2331176140932239

In [85]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression(penalty='l2',C=.00001)
log.fit(X_train,y_train)
y_pred = log.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy
f1_score(y_test,y_pred,average='weighted')

0.2260052749036316

In [86]:
from sklearn.neighbors import KNeighborsClassifier
n_neighbors = np.arange(3, 13, 1)
n_neighbors
accuracies = []
for n in n_neighbors:
    knn_clf = KNeighborsClassifier(n_neighbors=n)
    knn_clf.fit(X_train, y_train)
    predictions = knn_clf.predict(X_test)
    accuracy = f1_score(y_test,predictions,average='weighted')
    accuracies.append(accuracy)
accuracies

[0.21885448739834196,
 0.20840303413400757,
 0.21992439090257052,
 0.2155793254950063,
 0.2443892513566198,
 0.1866756756756757,
 0.2114871794871795,
 0.25214130447865385,
 0.22893447943325543,
 0.24295143156548016]